<p-dialog
[(visible)]="visible"
header="{{ modalTitle }}"
[closeOnEscape]="true"
[modal]="true"
styleClass="p-fluid"
(onHide)="closeModal()"
>
<ng-template pTemplate="eventDate">
  <hr />
  <form (ngSubmit)="sendForm(eventsForm)" [formGroup]="eventsForm">
    <div class="dataContact">
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Nombre'"
        [control]="eventsForm.controls['title']"
     ></ipt-input>
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Descripcción'"
        [control]="eventsForm.controls['descriptionEvent']"
     ></ipt-input>
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Lugar'"
        [control]="eventsForm.controls['locationEvent']"
     ></ipt-input>
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Inicia'"
        [control]="eventsForm.controls['start']"
     ></ipt-input>

     
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Finaliza'"
        [control]="eventsForm.controls['end']"
     ></ipt-input>
     <ipt-input
        [inputType]="'text'"
        [placeHolder]="'Color'"
        [control]="eventsForm.controls['colorEvent']"
     ></ipt-input>
    </div>
    <div class="tabObservation">
  
    </div>
     <br>

      <div class="btnSaveClose">
           <ipt-button
             [buttonType]="'button'"
             [label]="'Cerrar'"
             [primary]="false"
             [isEnabled]="true"
            (onClick)="closeModal()"
         ></ipt-button>
       </div>
  </form>
</ng-template>
</p-dialog>
