<div class='demo-app'>
    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section2'>
        <p-button label="CV" (click)="handleCalendarToggle()"></p-button>
        <p-button label="FDS" (click)="toggleWeekends()"></p-button>
        <p-button label="CRQ" (click)="eventByDayTime()"></p-button>
      </div>
      <div class='demo-app-sidebar-section'>
        <h2>Todos los Eventos ({{currentEvents.length}})</h2>
        <ul>
          <li *ngFor='let event of currentEvents'>
            <b>{{event.startStr | date : 'dd/MM/yyyy HH:mm:ss'}} </b>
            <br>
            <i>{{event.title}}</i>
          </li>
        </ul>
      </div>
    </div>
    <div class='demo-app-main'>
      <full-calendar
        *ngIf='calendarVisible'
        [options]='calendarOptions'
      ></full-calendar>
    </div>
  </div>


  <div *ngIf="!refreshModal" class="modal-container">
    <app-admin-events
    [dataStudent]="eventsToFollow!"
    [visible]="modalVisible"
    [modalTitle]="modalTitle"
    (closeMod)="closeModal($event)"
    ></app-admin-events>
  </div>
